:host {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

video {
  max-height: 80vh;
  max-width: 100%;
}
.video-player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.detected-barcode {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  font-size: xx-large;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  box-sizing: border-box;
  font-weight: 900;
  border-radius: 5px;
  padding: 1em;
}

.scan-button {
  height: 15vh;
  font-size: xx-large;
  margin: 0.5em;
  margin-top: -1em;
  z-index: 1;
}
