<div class="video-player">
  <video #video autoplay muted playsinline (pause)="onPause()"></video>

  <div
    *ngIf="detectedBarcode"
    class="detected-barcode"
    @detectedBarcodeAnimation
  >
    <div>{{ detectedBarcode }}</div>
  </div>
</div>

<button
  class="scan-button"
  (click)="scan()"
  [disabled]="!isBarcodeDetectorSupported || isScanning"
>
  Scan
</button>
