<h1>Device not supported</h1>

<p>
  This web application uses the experimental browser
  <a href="https://developer.mozilla.org/docs/Web/API/Barcode_Detection_API">
    Barcode Detection API
  </a>
  . It seems that this is not supported yet by your device or browser.
</p>

<p>
  If you use an iPhone or iPad go to Settings > Safari > Advanced > Feature
  Flags and enable Shape Detection API.
</p>

<a [routerLink]="'/'">Retry</a>
