:host {
  display: flex;
  flex-direction: column;
  margin: 1em;
  gap: 1em;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1em;
  margin-bottom: 0.5em;
  border-bottom: dashed 1px gray;

  button {
    background-color: transparent;
    border: none;
  }
}

.history-item.header {
  border-bottom: solid 1px gray;
}

input {
  font-size: large;
  height: 5vh;
}

.action-button {
  height: 15vh;
  font-size: xx-large;
  &.clear {
    height: 10vh;
    color: red;
  }
}

.not-supported {
  font-style: italic;
  text-align: center;
  font-size: small;
}
