<div class="history">
  <div class="history-item header">
    <span>#</span>
    <span>Date</span>
    <span>Code</span>
    <span></span>
  </div>
  @for (
    scan of scans();
    track scan.id;
    let index = $index, isEven = $even, isFirst = $first
  ) {
    <div class="history-item">
      <span>{{ index + 1 }}</span>
      <span>{{ scan.scannedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</span>
      <span>{{ scan.code }}</span>
      <button (click)="onRemove(scan)">X</button>
    </div>
  }
</div>

@if (canShare) {
  <input placeholder="Filename (e.g., shelf number)" [(ngModel)]="filename" />
  <button class="action-button" (click)="onShare(scans())">
    Share history
  </button>
} @else {
  <p class="not-supported">
    Sharing ist not supported on your device or browser.
  </p>
}

<button class="action-button clear" (click)="onClear()">Clear history</button>
