main {
  margin-top: 50px;
}

nav {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  color: gray;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  a.navigation-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: large;
    letter-spacing: 0.1em;
    color: gray;
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-weight: 100;
  }

  a.navigation-item:active,
  a.navigation-item.active {
    font-weight: 900;
  }

  a.navigation-item.icon-link {
    width: 150px;
  }

  .logo > img {
    border-radius: 5px;
    height: 40px;
    margin-left: 3px;
  }

  .badge {
    position: relative;
    top: -10px;
    padding: 3px 6px;
    border-radius: 25px;
    background: gray;
    color: white;
    font-size: x-small;
    letter-spacing: 0em;
  }
}
