<nav>
  <a
    [routerLink]="'scanner'"
    [routerLinkActive]="'active'"
    class="navigation-item"
    >Scanner</a
  >
  <a [routerLink]="''" class="logo"><img src="/assets/icon-180x180.png" /></a>
  <a
    [routerLink]="'history'"
    [routerLinkActive]="'active'"
    class="navigation-item"
  >
    History<span class="badge">{{ numberOfBarcodes() }}</span>
  </a>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
